@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    /*Regra geral*/
}

section{
    position: relative;
    width: 100%; /* Para minha foto pegar tada a pagina em conjuto com minha seção */
    height: 100vh; /* Para minha foto pegar tada a pagina em conjuto com minha seção */
    padding: 100px; /* meu espaçamento interno */
    background-image: url('../img/backgroound.jpg');
    background-size: cover; /* ajustar as propoção da imagem */
    background-repeat: no-repeat; /* Para não repitir */
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow:hidden;
}

/* os 3 ciculos faz o efeito degrade */
.circulo{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff4920e7; 
    clip-path: circle(35% at bottom right); /* tamanho e raio do meu circulo e seu posicionamento */

}

.circulo2{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: var(--cor-principal);*/
    background-color: #ff4920c5;
    clip-path: circle(40% at bottom right); /* tamanho e raio do meu circulo e seu posicionamento */

}
.circulo3{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: var(--cor-principal);*/
    background-color: #ff492067;
    clip-path: circle(45% at bottom right); /* tamanho e raio do meu circulo e seu posicionamento */

}


header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px  50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /*Meu de navegação*/
}

header .logo{
    position: relative;
    max-width: 360px;
}

header .navegação ul{
    position: relative;
    display: flex;
}

header .navegação li{
list-style: none;
}
 
header .navegação li a{
    color: #f5f5f5;
    display: inline-block;
    text-decoration: none;
    font-weight: 200;
    font-size: 20px;
    font-family: var('@font-face');
    margin: 20px; 
    margin-top: 20px;
    padding: 10px 20px;
    background: #e50914;
    letter-spacing: 1px; /* espaçamento entre as letras */
    border-radius: 40px; /*arredondar bordas*/
    transition: 0.3s ease-in-out; /*animação */
}

header .navegação li a:hover{
    transform: translateY(-10px);
    /*sentido que minha animação ira percorrer */
}

.conteiner{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteiner .texto{
    position: relative;
    max-width: 800px;
    margin-right: 20px;
}

.conteiner .texto h2{
    color:#f5f5f5;
    font-size: 6em;
    margin-bottom: 10px;
    line-height: 2em;
    font-family:  700;
}

.conteiner .texto h2 span{
    font-size: 2.5em;
    color: #e50914;

}

.conteiner .texto p{
    color:#f5f5f5;
    font-weight:bolder;
    font-size: 25px;
}

.conteiner .texto a{
    display: inline-block;
    margin-top: 50px;
    padding: 25px 60px;
    background: #e50914;
    color: #f5f5f5;
    font-weight: 1000;
    text-decoration: none;
    letter-spacing: 1px; /* espaçamento entre as letras */
    border-radius: 40px; /*arredondar bordas*/
    transition: 0.3s ease-in-out; /*animação */


}

.conteiner .texto a:hover{
    transform: translateY(-10px);
    /*sentido que minha animação ira percorrer */
}

.icones{
    /*icones e sueus estilos */

    position: absolute;
    bottom: 20px; /*tamanho do meu botão */
    left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icones li{
    /*retirando decoração dos icones */
    list-style: none;
}

.icones li a{

    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 70%;
    background:#272727;
    margin-left: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.icones li a:hover{  
background: #e50914;
transform: translateY(-10px);
}

.icones li a img{
    /*invetendo as cores do icones */

    transform: scale(0.5);
    filter: invert(1);
}

.foto{
    position: absolute;
    right: 0;
    bottom: 20px;
}

.foto img{
    width: 300px;
    border-radius: 20px;
}

.foto .img1{
    transform: rotate(-15deg);
}
.foto .img3{
    transform: rotate(15deg);
}
.foto .img2{
    transform: rotate(15deg);
}
.receitas{
    background-image: url('../img/producao/massasmacias3.jpg');
    background-size: cover; /* ajustar as propoção da imagem */
    background-repeat: no-repeat; /* Para não repitir */
}
