@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); /* importação de fonte */
:root{
    --btn-color:#e58f00;
    --about-sec:#1d1d23;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
}
html{
    font-size: 65%;
    scroll-behavior: smooth;
}
.cabecalho{
    padding: 1rem 7%;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #1d1d23;
}
.logo img{
    width: 90px;
}
.navegacao a{
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}
.navegacao a:hover{
    color: var(--btn-color);
}
.icones div{
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
    display: none;
}
.icones div:hover{
    cursor: pointer;
}

.icones a{
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid orange;
    border-radius: 10px;
    font-size: 18px;
   transition: 0.5s;
   display: inline-block;
}
.botao-contato:hover{
    transform: scale(1.1);
    background: var(--btn-color);
    border: 1px solid white;
}

.navegacao.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

/* design da pagina principal */

.principal{
    padding: 1rem 7%;
    background: url(imagens/background.png);
    min-height: 100vh;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pagina-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 150px;
    padding-left: 4rem;
    padding-right: 4rem;
}
.conteudo-principal{
    flex: 1 1 45rem;
}
.imagem-principal{
    width: 80%;
    height: 100%;
    position: relative;
   
    
}
.imagem-principal img{
    width: 100%;
    position: absolute;
    transform: translate(0%, -40%);
    animation: mymove 5s infinite ease-in-out;
    border-radius: 5%;
}
@keyframes mymove {
    0%   {top: 0px;}
    50%   {top: 15px;}
    75%   {top: 10px;}
    100%   {top: 0px;}
  }
.texto-principal{
    padding: 0 8rem;
}
.texto-principal h1{
    font-size: 45px;
    color: #e58f00;
}
.texto-principal p{
    color: white;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 25px;
}
.texto-principal a{
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid orange;
    border-radius: 10px;
    font-size: 18px;
   transition: 0.5s;
   display: inline-block;
}
.texto-principal a:hover{
    transform: scale(1.1);
    background: var(--btn-color);
    border: 1px solid white;
}
.detalhes{
    padding: 2rem 7%;
    background: var(--about-sec);
}
.detalhes-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    
}
.detalhes-container{
    flex: 1 1 45rem;
}
.detalhes-conteudo{
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.detalhes-container .detalhes-conteudo img{
    width: 80%;
    margin-left: 100px;
    border-radius: 20px;
}
.detalhes-texto{
    padding: 0 4rem;
}
.detalhes-texto h1{
    color: #e58f00;
    font-size: 40px;
    margin-bottom: 15px;
}
.detalhes-texto p{
    color: white;
    font-size: 1.5rem;
    line-height: 35px;
}
.qualidade{
    padding: 4rem 7%;
    background-image: linear-gradient(60.34deg, white 52.45%, var(--btn-color) 52.45%);
}
.qualidade-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.qualidade-container{
    flex: 1 1 45rem;
}
.qualidade-conteudo{
    padding: 0 4rem;
}
.qualidade-conteudo h1{
    color: var(--btn-color);
    font-size: 40px;
    margin-bottom: 15px;
}
.qualidade-conteudo p{
    color: var(--about-sec);
    font-size: 1.5rem;
    line-height: 30px;
}
.qualidade-imagem{
    width: 100%;
    
}
.qualidade-imagem img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.galeria{
    padding: 4rem 7%;
    background: var(--about-sec);
}
.galeria h1{
    font-size: 50px;
    text-align: center;
    padding-bottom: 3rem;
    color: var(--btn-color);
    letter-spacing: 1px;
}
.galeria-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  
}
.galeria-container{
    flex: 1 1 300px;
    
}
.galeria-container .galeria-imagem img{
    width: 100%;
}
.galeria-container .galeria-imagem:hover img{
    transform: perspective(1000px) rotateX(-4.80deg) rotateY(-10.23deg) scale3d(1.05,1.05,1.05);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
.sobre{
    padding: 2rem 7%;
    background: url(imagens/Sobre.jpg);
}
.main-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    
}
.sobre-content{
    flex: 1 1 45rem;
}
.sobre-inner-content{
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.sobre-content .sobre-inner-content img{
    width: 80%;
    margin-left: 100px;
    border-radius: 20px;
}
.sobre-text-content{
    padding: 0 4rem;
}
.sobre-text-content h1{
    color: #e58f00;
    font-size: 40px;
    margin-bottom: 15px;
}
.sobre-text-content p{
    color: white;
    font-size: 1.5rem;
    line-height: 35px;
}

.before{
    background-color: #1d1d23;
    padding: 2rem 0;
}
.before{
    width: 100%;
}
.before img{

    width: 100%;
    object-fit: cover;
}

.rodape{
    background: #1d1d23;
    padding: 6rem 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.rodape-principal{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.rodape-navegacao img{
    width: 200px;
}
.rodape-navegacao{
    margin-top: 15px;
}
.rodape-navegacao{
    color: #e58f00;
    font-size: 18px;
    margin: 1rem;
    padding: 1rem;
}


























@media (max-width:767px) {
    .cabecalho{
        padding: 3rem;
    }
    .icones div{
        display: initial;
    }
    .navegacao{
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 100%;
        background-color: var(--btn-color);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);


    }
    .navegacao a{
        display: block;
        text-align: center;
        margin: 1rem;
        padding: 1rem;
    }

    /* home css desing */

    .home-text-content{
        padding: 0 2rem;
    }
    .main-home{
        padding: 2rem 0;
    }
    .principal{
        padding-top: 100px;
        
    }
    .imagem-principal img{
        transform: translate(0%, 0%);
    }
    .conteudo-principal{
        margin-top: 300px;
    }
    .detalhes-container .detalhes-conteudo img{
        width: 100%;
        margin: 0;
        padding: 1rem;
    }
    .qualidade-conteudo{
        padding: 1rem 2rem;
    }
    .qualidade-conteudo h1{
        color: var(--about-sec)
    }
    

}
